*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.container1{
    height: 2600px;
}

.nav h1{
    position: absolute;
    left: 18.75%;
    right: 74.56%;
    top: 2.4%;
    bottom: 97.09%;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #233348;
    mix-blend-mode: normal;
}
.nav ul{
    list-style: none;
    display: flex;
    align-items: center;
}
.nav li:nth-child(1){
    position: absolute;
    left: 57.44%;
    right: 39.38%;
    top: 2.54%;
    bottom: 97.07%;

    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    color: #1F1534;
}
.nav li:nth-child(2){
    position: absolute;
    left: 63.12%;
    right: 30%;
    top: 2.54%;
    bottom: 97.07%;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #1F1534;
    opacity: 0.5;
}
.nav li:nth-child(3){
    position: absolute;
    left: 72.5%;
    right: 24.75%;
    top: 2.54%;
    bottom: 97.07%;

    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #1F1534;
    opacity: 0.5;
}
.nav li:nth-child(4){
    position: absolute;
    left: 77.75%;
    right: 15.75%;
    top: 2.54%;
    bottom: 97.07%;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #1F1534;
    opacity: 0.5;
}
.nav li:nth-child(5){
    position: absolute;
    left: 86.75%;
    right: 8.5%;
    top: 2.54%;
    bottom: 97.07%;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #1F1534;
    opacity: 0.5;
}


.qator1 h1{
    position: absolute;
    left: 15.38%;
    right: 57.94%;
    top: 25%;
    bottom: 75%;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    color: #000000;
    mix-blend-mode: normal;
}
.qator1 img{
    position: absolute;
    left: 50%;
    right: 6.69%;
    top: 15%;
    bottom: 85.45%;
    width: 40%;
}
.qator1 p{
    position: absolute;
    left: 15.38%;
    right: 56.81%;
    top: 45%;
    bottom: 89.86%;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 300;
    font-size: 21px;
    line-height: 32px;
    color: #7D7987;
    mix-blend-mode: normal;
}
.qator1 button{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 50px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    position: absolute;
    left: 15.38%;
    right: 72.12%;
    top: 65%;
    background: #458FF6;
    border-radius: 55px;
    border: none;
}
.qator2 h1{
    position: absolute;
    left: 43.44%;
    right: 43.31%;
    top: 105%;
    bottom: 82.57%;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 56px;
    color: #000000;
    mix-blend-mode: normal;
}
.qator2 p{
    position: absolute;
    left: 20.19%;
    right: 20.31%;
    top: 118%;
    bottom: 80.51%;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: #7D7987;
    mix-blend-mode: normal;
}
.qator2 h3{
    position: absolute;
    width: 56px;
    height: 2px;
    left: 48.5%;
    top: 115%;
    background: #000000;
    border-radius: 5px;
}
.qator2 img{
    position: absolute;
    width: 1120px;
    height: 745px;
    left: 240px;
    top: 990px;    
}
.qator2 button{
    position: absolute;
    left: 43.75%;
    right: 43.75%;
    top: 250%;
    border: 1.4px solid #458FF6;
    border-radius: 55px;
    line-height: 40px;
    background: none;
    color: #458FF6;
}
.qator2 img:nth-child(2){
    position: absolute;
    left: -26.18%;
    right: -26.18%;
    top: 0%;
    bottom: 0%;
    
    background: linear-gradient(175.68deg, #F3F7FF -10.48%, #DEEEFE 92.66%);
    transform: rotate(21.46deg);
}
.qator3 img{
    position: absolute;
    width: 1273px;
    height: 477px;
    left: 135px;
    top: 2000px;
}

.qator4{
    display: flex;
    justify-content: space-around;
    font-family: sans-serif;
    margin-bottom: 200px;
    margin-left: 10%;
}
.qator4 h1{
    margin-top: 30px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    color: #000000;
    mix-blend-mode: normal;
}
.qator4 hr{
    width: 50px;
    height: 1px;
    background-color: #000000;
    margin-top: 25px;
}
.qator4 p{
    margin-top: 30px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    color: #7D7987;
}
.qator4 button{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 40px;
    display: flex;
    align-items: center;
    color: #458FF6;
    background: none;
    margin-top: 30px;
    padding: 0 30px;
    border-radius: 25px;
    border-color: #458FF6;
}
.qator5{
    width: 75%;
    display: flex;
    flex-direction: column;
    background: linear-gradient(208.18deg, #67C3F3 9.05%, #5A98F2 76.74%);
    border-radius: 15px;
    color: white;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50px;
}
#qator5-h1{
    font-family: 'Mulish';
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    margin-top: 50px;
}
#qator5-h{
    background-color: white;
    width: 50px;
    height: 1.5px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}
.qator5 span{
    display: flex;
    align-items: center;
}
.qator5 img{
    border-radius: 50%;
    margin-left: 10%;
    border: solid white 3px;
    width: 150px;
}
.qator5 h2{
    font-weight: 700;
    font-size: 22px;
    line-height: 48px;
    margin-left: 3%;
}
.qator5 .a{
    font-weight: 400;
    font-size: 18px;
    line-height: 48px;
    margin-top: -20px;
}
.qator5 p{
    font-weight: 400;
    font-size: 19px;
    line-height: 30px;
    color: rgba(255, 255, 255, 0.9);
    margin-left: 10%;
}
.sld{
    margin: 3% 38.5%;
}

.qator6{
    margin-top: 7%;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
}
.qator6 h1{
    font-weight: 700;
    font-size: 36px;
    line-height: 56px;
    text-align: center;
}
.qator6 h5{
    background-color: black;
    width: 50px;
    height: 1.5px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 7%;
    margin-top: 2%;
}
.qator6 span{
    align-items: center;
    display: flex;
}
.qator6 .ustun{
    display: flex;
    justify-content: space-between;
}
.qator6 h2{
    font-weight: 700;
    font-size: 21px;
    line-height: 32px;
    margin-left: 8%;
}
.qator6 p{
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
    margin-left: 8%;
    margin-top: 5%;
}
.qator6 span{
    color: #4089ED;
    margin-left: 8%;
    margin-top: 10%;
    margin-bottom: 10%;
}
.qator6 .ustun img{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.qator6 .ustun1{
    box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
    border-radius: 15px;
    background-color: white;
}
.qator6 .ustun2{
    box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
    border-radius: 15px;
}
.qator6 .ustun3{
    box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
    border-radius: 15px;
}
.qator6 button{
    color: #458FF6;
    font-weight: 700;
    font-size: 18px;
    padding: 1% 5%;
    background: none;
    border-radius: 30px;
    border-color: #458FF6;
    margin-left: 42%;
    margin-top: 5%;
}
.qator7{
    display: flex;
    background: linear-gradient(183.41deg, #67C3F3 -8.57%, #5A98F2 82.96%);
    justify-content: space-around;
    color: white;
    padding: 7% 0;

}
.qator7 li{
    list-style: none;
    margin: 10% 0;
    color: rgb(239, 239, 239);
}

.qator7 .t{
    background-color: rgb(231, 231, 231);
    border-radius: 50%;
    padding: 1% 3%;
    color: #458FF6;
}
.qator7 h2{
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #FFFFFF;
}
.qator7 p{
    color: rgb(239, 239, 239);
}
.qator7 h4{
    font-weight: 100;
    color: rgb(239, 239, 239);
}
.qator7 .ustun1{
    height: 50px;
}
.qator7 .ustun2{
    height: 50px;
}
.qator7 .ustun3{
    height: 50px;
}